{% extends "game/base.html" %}

{% block content %}

<a href="{% url 'play' %}">Refresh</a>
|
<a href="{% url 'exit' %}">Exit game</a>
<h4>Pool: {{ table.pool }}</h4>
<h4>Cards on table: {{ table.cards_on_table }}</h4>
<h4>Game state: {{ table.game_state }}</h4>



<table>
    <tr>
        <td><!-- Dealer --></td>
        <td>Player</td>
        <td>Money</td>
        <td>Cards</td>
        <td>Rate</td>
        <td>State</td>
    </tr>

    {% for player in players_list %}
    <tr>
        <!-- Show who have dealer button if this button is in table. RELATED? ;) -->
        <td>
            {% if table.game_state != 'ready' and table.dealer == player %} D {% endif %}
            {% if table.game_state != 'ready' and table.small_blind == player %} s {% endif %}
            {% if table.game_state != 'ready' and table.big_blind == player %} b {% endif %}
        </td>
        <td>{{ player }}</td>
        <td>{{ player.money }}</td>
        <td>{{ player.cards }}</td>
        <td>how much i gave</td>
        <td>

            <!-- If you are you AND you dont select decission yet AND is your turn - you can make decission now -->
            {% if request.user.player == player and request.user.player.state == 'start' %}
                <a href="">check</a>
                <a href="">call</a>
                <a href="">raise</a>
                <a href="">pass</a>

            <!-- If you aren't you, show him status -->
            {% else %}
                {{ player.state }}
            {% endif %}

        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}